<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>CONSUMERTODAY — QUARTERLY SURVEY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="WOW! You've been invited to partake in our quarterly Consumer Commerce survey!"/>
  <meta name="robots" content="index, follow"/>
  <meta property="og:title" content="CONSUMERTODAY"/>
  <meta property="og:description" content="WOW! You've been invited to partake in our quarterly Consumer Commerce survey!"/>
  <meta property="og:type" content="website"/>
  <link rel="preload" as="image" href="./public/img/have-you-seen.jpg">
  <link rel="preload" as="image" href="./public/svg/etc/EQUATION.svg">
  <link rel="stylesheet" href="./public/css/normalize.css"/>
  <link rel="stylesheet" href="./public/css/app.css"/>
</head>
<body>
  <div id="root" class="flex col between h-full">
    <div>
      <header>
        <div class="flex between bb">
          <div class="flex start">
            <p>Sign Up</p>
            <p>Log In</p>
          </div>
          <div class="flex end">
            <p class="b">Search...</p>
            <p class="b">Go</p>
          </div>
        </div>
        <div class="bb">
          <p>
            Profile > Members > TEST_ADMIN
          </p>
        </div>
      </header>
      <main v-cloak v-if="surveyMode === 0" class="text-center">
        <h1>Welcome to Consumer Today!</h1>
        <h2 v-if="ip"> Your IP address is: <span id="ip">{{ ip }}</span></h2>
        <button @click="surveyMode = 1">Begin Customer Satisfaction Survey</button>
      </main>
      <main v-cloak v-else-if="surveyMode === 1" class="text-center">
        <h2>Have you seen this?</h2>
        <img class="fluid" src="./public/img/have-you-seen.jpg" alt="Have you seen this?"/>
        <div class="flex">
          <button @click="setSeen(true)">Yes</button>
          <button @click="setSeen(false)">No</button>
        </div>
      </main>
      <main v-cloak v-else-if="surveyMode === 2" class="text-center">
        <div v-for="q in questions[questionPage]" class="q">
          <template v-if="q === '[EQUATION]'">
            <img class="eq" src="./public/svg/etc/EQUATION.svg" alt="Mathematical Equation"/>
          </template>
          <template v-else-if="q === '[IP]'">
            <h2>{{ ip }}</h2>
          </template>
          <template v-else>
            <h2>{{ q }}</h2>
          </template>
          <div class="flex">
            <template v-if="q.includes('(please specify)')">
              <textarea v-model="writtenAnswer"></textarea>
            </template>
            <template v-else-if="q.includes('The Abacus')"></template>
            <template v-else>
              <p v-if="q.includes('1 to 5')">1</p>
              <input type="radio" v-model="answers[q]" value="1"/>
              <input type="radio" v-model="answers[q]" value="2"/>
              <input type="radio" v-model="answers[q]" value="3"/>
              <input type="radio" v-model="answers[q]" value="4"/>
              <input type="radio" v-model="answers[q]" value="5"/>
              <p v-if="q.includes('1 to 5')">5</p>
            </template>
          </div>
        </div>
        <button class="mt" @click="nextQuestion">Next</button>
      </main>
      <main v-cloak v-else class="text-center" id="set-to-hdytif">
        <h2>HOW DO YOU THINK IT FEELS?</h2>
      </main>
    </div>
    <footer class="text-center">
      <p class="faint">29 May 2012 - 3 Nov 2018</p>
      <p>Get Consumertoday.org deals via email</p>
      <p>True Savings Selected By "People" Like You</p>
    </footer>
  </div>
  <script type="module">
    import { createApp, ref, onMounted } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    const questions = [
      [
        "What is your age?",
        "What is your gender?",
        "What is your yearly income (before taxes)?",
        "Overall, how satisfied are you with your most recent experience at Consumer Today?",
        "Have you seen any advertisements for Consumer Today within the past 30 days?",
      ],
      [
        "What motivates you to choose Consumer Today over others?",
        "What is your birthday?",
        "How much do online reviews influence your buying decisions?",
        "How did you first hear about Consumer Today?",
        "How often do you shop online versus in-store?",
      ],
      [
        "How likely are you to recommend Consumer Today to others?",
        "On a scale of 1 to 5, how loyal are you to Consumer Today?",
        "Describe yourself in 3 words.",
        "Have you purchased the Consumer Today enclosed instruction booklet?",
        "Are you still searching for something?",
      ],
      [
        "Rate your satisfaction with our products/services in the following categories:",
        "Ease of access",
        "Speed of delivery",
        "General stability",
        "Other: (please specify)",
      ],
      [
        "You're Halfway there. Great job!",
        "Yesterday, you saw someone following you. Where are they now?",
        "Are they still following you?",
        "Can you solve this equation using The Abacus?",
        "[EQUATION]",
      ],
      [
        "Which of the following is your IP address?",
        "163.122.165.40",
        "123.244.124.21",
        "[IP]",
        "153.224.132.78",
      ],
      [
        "Have you found what you are looking for?",
        "Why are you still here?",
        "Have you forgotten the beautiful moments?",
        "你好世界",
        "Your account is being used in another location.",
      ],
      [
        "Were there any issues with the Consumer Today website?",
        "Was this \"survey\" boring to you?",
        "Have you finally stopped pretending to be someone you are not?",
        "Are you losing hope?",
        "Will you still be scared, even after you die?",
      ]
    ]
    const sheetURL = "https://script.google.com/macros/s/AKfycby5P7C53MYqUyZo4JNzcy6gA4qERsSXAfsxZd_7FhJTRbOrqXA6IZsshZbdfEnd5OBlNQ/exec"
    createApp({
      setup() {
        const ip = ref("")
        const questionPage = ref(0)
        const surveyMode = ref(0)
        const answers = ref({})
        const writtenAnswer = ref("")
        const seen = ref(null)
        onMounted(async () => {
          const res = await fetch('https://api.ipify.org?format=json')
          const data = await res.json()
          ip.value = data.ip 
        })
        const setSeen = (hasSeen) => {
          seen.value = hasSeen
          surveyMode.value = 2
        }
        const nextQuestion = async () => {
          //check for missing answers
          const questionsOnPage = questions[questionPage.value]
          for (const q of questionsOnPage) {
            //the abacus question doesn't have a selection
            if (q.includes("The Abacus")) {
              continue
            }
            //require text in the text area
            else if (q.includes("(please specify)")) {
              if (writtenAnswer.value === "") {
                alert("You must answer every question, even if you don't want to.")
                return
              }
            }
            //for all others, require a bubble answer
            else if (!(q in answers.value)) {
              alert("You must answer every question, even if you don't want to.")
              return
            }
          }
          questionPage.value = questionPage.value + 1
          if (questionPage.value >= questions.length) {
            surveyMode.value = 3
            //build payload
            const payload = {
              "IP": ip.value,
              "Has Seen": seen.value,
              "Written Answer": writtenAnswer.value
            }
            //get answers in a number-indexed format
            const flatQs = questions.flat()
            for (const ans in answers.value) {
              const i = flatQs.indexOf(ans)
              if (i === -1) continue
              payload[i+1] = answers.value[ans]
            }
            console.dir(payload)
            // document.getElementById("set-to-hdytif").classList.add("hdytif")
            try {
              const res = await fetch(sheetURL, {
                method: "POST",
                mode: "no-cors",
                body: new URLSearchParams(payload)
              })
              console.dir(res)
            } catch (e) {
              console.dir(e)
            }
          }
        }
        return {
          ip, questionPage, surveyMode, questions, nextQuestion, answers, setSeen, seen, writtenAnswer
        }
      }
    }).mount("#root")
  </script>
</body>
</html>
