#root {
  margin: 5px;
}
p {
  margin: 2px 0;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.col {
  flex-direction: column;
}
.start {
  justify-content: start;
}
.end {
  justify-content: end;
}
.between {
  justify-content: space-between;
}
.b {
  border: 1px solid black;
  padding: 1px;
}
.bb {
  border-bottom: 1px solid black;
}
.text-center {
  text-align: center;
}
.h-full {
  height: 99vh;
}
.faint {
  font-style: italic;
  color: lightgray;
}
[v-cloak] {
  display: none;
}
.mt {
  margin-top: 20px;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  filter: grayscale(1);
}
.hdytif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  text-align: center;
  font-size: 58px;
  padding: 0px;
  margin: 0px;
}
.hdytif h2 {
  color: red;
  font-style: italic;
}
.eq {
  max-width: 150px;
  margin: -45px 25px 25px 25px;
}
.q {
  margin: 35px 10px 0;
}
.fluid {
  max-width: 100%;
}